<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FITNESS GYM CLUB</title>
    <link rel="icon" href="images/FGC (1).png" type="image/icon type">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/classstyle.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/UserStyle.css">
</head>
<body>
<div class="sidebar">
    <div class="logo-details">
         <img src="images/Screenshot_2023-01-08_215757-removebg-preview.png" height="80" width="60">
    </div>
    <ul class="nav-links">
        <li>
            <a href="/admin" class="active">
                <i class='bx bx-grid-alt' ></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/adminshop">
                <i class='bx bx-box' ></i>
                <span class="links_name">Product</span>
            </a>
        </li>

        <li>
            <a href="/totalorder/2">
                <i class='bx bx-book-alt' ></i>
                <span class="links_name">Total order</span>
            </a>
        </li>
        <li>
            <a href="/team">
                <i class='bx bx-user' ></i>
                <span class="links_name">Team</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-message' ></i>
                <span class="links_name">Messages</span>
            </a>
        </li>

        <li>
            <a href="/profile">
                <i class='bx bx-cog' ></i>
                <span class="links_name">Setting</span>
            </a>
        </li>
        <li class="log_out">
            <a href="/logout">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section" >
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
             <img src="images/imageedit_1_7997835580.png" height="200">
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search' ></i>
        </div>
        <div class="profile-details">
            <!--<img src="images/profile.jpg" alt="">-->
            <span class="admin_name">Prem Shahi</span>
            <i class='bx bx-chevron-down' ></i>
        </div>
    </nav>
    <section class="mb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8" style=" margin-top: 100px;">
            <div class="row"  >
              <% products.forEach(function(product) { %>
    <div class="col-md-4 d-flex align-items-stretch" >
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="<%= product.image_link %>" alt="Product Image" />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-black"><%= product.name %></h5>
          <p class="card-text text-black"><%= product.description %></p>
          <h6 class="card-subtitle mb-2 text-black">$<%= product.price %></h6>
          <button class="btn btn-primary mt-auto" href="/logout" method = "POST">Add Stock</button>
        </div>
      </div>
    </div>

              <% }); %>
            </div>
          </div>
          <div class="col-md-4 border">
            <h2 style="color: white;">Filter Items</h2>

          <ul class="list-group mb-3">
              <li class="list-group-item">Gym Clothes</li>
              <li class="list-group-item">Vitamins</li>
              <li class="list-group-item">Protein</li>
              <li class="list-group-item">Gym Clothes</li>
              <li class="list-group-item">Shoes</li>
              <li class="list-group-item">Gym Accessories</li>
              <li class="list-group-item">Protein</li>
              <li class="list-group-item">Pre-Workout Supplements</li>
              <li class="list-group-item">Post-Workout Supplements</li>
              <li class="list-group-item">Weightlifting Equipment</li>
              <li class="list-group-item">Cardio Equipment</li>
              <li class="list-group-item">Fitness Trackers</li>

            </ul>

              <button type="submit" class="btn btn-primary" href="/add-stock" method = "POST" >Apply Filters</button>

      </div>
    </section>

</section>


</body>
<style>
  body {
    background-color: #041333 /* Replace with your desired background color */
  }
  header {
      background-color: white;
    }
      section {
        margin-top: 0; /* Remove margin top */
      }

      .product {
        height: 450px;
      }

      .list-group {
        color: white;
      }

      .list-group-item {
        background-color: #white;
      }
      .list-group-item:hover {
        background-color: #ebe2cb;
        color: white;
      }

</style>
<script>
function addToCart() {
  const productId = document.getElementById('product-id').value;
  const quantity = document.getElementById('quantity').value || 1;
  const xhr = new XMLHttpRequest();
  xhr.open('POST', '/add-to-cart');
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onload = function() {
    if (xhr.status === 200) {
      window.location.href = '/cart';
    } else {
      console.error('Error adding item to cart:', xhr.statusText);
      alert('Error adding item to cart');
    }
  };
  xhr.send(JSON.stringify({productId, quantity}));
}

let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}


var seeAllButton = document.getElementById("seeAllButton");
  var tableRows = document.querySelectorAll("#dataTableBody tr");

  if (seeAllButton) {
    seeAllButton.addEventListener("click", function() {
      for (var i = 0; i < tableRows.length; i++) {
        tableRows[i].style.display = "table-row";
      }
      seeAllButton.style.display = "none";
    });
  }

</script>

</html>